
.navbar_container{
    background-color: #457b9d98;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 1rem;
    border-radius: 1rem;
    height: 3rem;
    margin-bottom: 1rem;
}
html {
    scroll-behavior: smooth;
}

.nav_option {
    cursor: pointer;
}

.navbar_left{
    background: transparent;
    left: 0;
    font-size: 1rem;
    font-weight: 100;
    color: #e63946;
    margin-left: 1rem;
}
.navbar_right{
    background: transparent;
    display: flex;
    margin-right: 1rem;
    flex-wrap: wrap;

}
.navbar_right > p{
    background: transparent;
    color: whitesmoke;
    margin-right: 1rem;
    padding: 0.2rem 0.3rem;
    font-size: 1rem;
}

.navbar_right > p:hover{
    background-color: #1d3557;
    cursor: pointer;
    border-radius: 8px;
}