*{
  margin: 0;
  background-color: #a8dadc;
  color: #1d3557;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.app{
  padding: 0 9%;
}
@media(max-width:998rem){
    .app{
      font-size: 55%;
    }
    
}
@media(max-width:768rem){
  .app{
    font-size: 45%;
  }
  
}